$pageWidth: 800px;
$mobileBreakpoint: 500px;
$tabletBreakpoint: 500px;
$sidePanelWidth: 300px;
$topSpacing: 2rem;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;